.artistName{
    height:20px;
    text-align: center;
}
.artistWrapper{
    overflow-y:scroll;
    height: 80vh;
    width: 105vw;
    display: flex;
    flex-direction: row;
    margin-left: 9vw;
}

.descriptionWrapper{
    display: flex;
    flex-direction: column;
    text-align: center;

}

.artistDesc{
    display: flex;
    font-size: large;
    width: 40vw;
    
    
}
.songListWrapper{
    display: flex;
    text-decoration: none;    
    text-align: center;
}
.songList{
    display:flex;
    flex-direction: column;
    list-style-type: none;
}
.songList>li{
    padding:10px;
}

.albumList{
    display:flex;
    width: 20vw;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
    margin-right: 5vw;
}

.wholePage{
    display:flex;
    flex-direction: column;
    justify-content: center;
}