.navbar{
    height:50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #222;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    color: white;
    text-transform: uppercase;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
}


.buttonHide{
    display: none;
}

.logoWrapper{
    display:flex;
    
}

.stylish{
    font-weight: bold;
}

.logo{
    padding-left:4px;
    color:  #ea4f4c;
}


.routeHome{
    opacity: 1;
    list-style-type: none;
    color: white;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.li{
    list-style-type: none;
}

.parent {
    padding: 0 10px;
    cursor: pointer;
    list-style-type: none;
}

.navitems{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    
}

.inputSearch{
    text-align: center;
    height: 14px;
    width: 18vw;
    outline: 0;
    border: 5px solid #F7F7F7;
    font-size: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
    font-weight: 10px;
}

     