html{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 200;
    position: fixed;
    margin-right: 0;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}
input {
    padding: 20px;
}

input.search {
    text-align: center;
    outline: 0;
    border: 5px solid #F7F7F7;
    font-size: 35px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
    width: 90vw;
  }